body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}
table {
  margin: auto;
}
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
 td[colspan] {
  border: none;
  background-color: white;
} 
h1 {
  text-align: center;
}
